package components

import "github.com/kilianmandscharo/papierraser/types"

templ Connections(players types.Players) {
	for _, player := range players {
		if player.Conn == nil {
			<div class="disconnected">{ player.Name }</div>
		} else {
			<div class="connected">{ player.Name }</div>
		}
	}
}
